body {
    
    background-color: black;
}

#juego {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(18, 183, 189);
    font-family: 'Press Start 2P';
}

.tablero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.casilla {
    background-color: rgb(16 74 76);
    width: 100px;
    height: 100px;
    transition: all 1s ease;
}

.casilla:hover {
    opacity: 0.8;
}

.activo1 {
    background-color: rgb(155 41 20);
}

.activo2 {
    background-color: rgb(18 126 34);
}

.jugador1 {
    color: rgb(155 41 20);
    transition: all 0.3s ease;
}

.jugador2 {
    color: rgb(18 126 34);
    transition: all 0.3s ease;
}

.resultados {
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P';

}

.estadisticas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 20px;
    color: rgb(18, 183, 189);
}

.estadisticas h3 {
    margin: 0;
}


